@import 'variables';

.navbar {
    margin: 30px 0px 0px 0px;
    padding: 0px 30px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 2;
    animation: background-animation linear;
    animation-timeline: scroll();

    .left{
        animation: logo-animation linear;
        animation-timeline: scroll();
        display: flex;
        align-items: center;
        width: 250px;
        color: $neutral-color;
        font-family: 'Agrandi', monospace;
        font-size: 2rem;
        opacity: 0;
    }

    .center {
        display: flex;
        justify-content: space-around;
        column-gap: 70px;
        align-items: center;
    }


    .right{
        width: 250px;
    }


    .nav-label {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1rem;
        color: $primary-color;
        letter-spacing: 2px;
        font-family: 'TN Medium', monospace;
        padding: 20px 10px;
        
        &.selected {
            font-size: 1.2rem;
            letter-spacing: 3px;
            color: $neutral-color;
        }
    }
}

@keyframes background-animation {
    0% {
        background-color: transparent;
    }
    5% {
        background-color: $background-color;
        margin-top: 0px;
    }
    100% {
        background-color: $background-color;
        margin-top: 0px;
    }
}

@keyframes logo-animation {
    0% {
        transform: translateX(20px);
        opacity: 0;
    }
    6% {
        transform: translateX(20px);
        opacity: 0;
    }
    9% {
        transform: translateX(0px);
        opacity: 1;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}